a:link {
  color: red;
}

a:visited {
  color: black;
}

a:hover {
  color: yellowgreen;
}

a:active {
  color: blue;
}

body {
  background-image: url("./assets/background.jpg");
}

.wrapper {
  margin: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

h1 {
  font-size: 75px;
  text-align: center;
}

h2 {
  font-size: 50px;
  text-align: center;
}

.title {
  grid-column: 1 / 4;
  grid-row: 1;
}
.text {
  font-size: 25px;
  text-align: center;
  grid-column: 1 / 4;
  grid-row: 2;
}
.button {
  border: none;
  text-align: center;
  text-decoration: none;
  grid-column: 2;
  grid-row: 3;
}

#b1,
#b2,
#b3 {
  border-radius: 15%;
  margin: 3px;
  background-color: yellowgreen;
  border: none;
  font-size: 35px;
}

.pictures {
  grid-column: 1 / 4;
  grid-row: 4;
}

.pictures2 {
  grid-column: 1 / 4;
  grid-row: 5;
}
