body {
  background-image: url("./assets/background.jpg");
}
.wrapper {
  margin: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-gap: 10px; */
  grid-auto-rows: minmax(100px, auto);
}
h1 {
  font-size: 50px;
  text-align: center;
}
#gyors {
  height: auto;
}

.title {
  grid-column: 1 / 4;

  grid-row: 1;
}
.text {
  font-size: 25px;
  text-align: center;
  grid-column: 1 / 4;
  grid-row: 2;
}
.buttons {
  grid-column: 1 / 4;
  grid-row: 3;
}
.pictures {
  grid-column: 1 / 4;
  grid-row: 4;
}
.pictures2 {
  grid-column: 1 / 4;
  grid-row: 5;
}
