h1 {
  text-align: center;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  background-color: red;
  grid-column: 1;
  grid-row: 1 /4;
}
.two { 
  background-color: cornflowerblue;
  grid-column: 2;
  grid-row: 1 / 4;
}
.three {
  background-color: chartreuse;
  grid-column: 3;
  grid-row: 1 / 4;
}
.four {
  background-color: burlywood;
  grid-column: 1;
  grid-row: 4 / 7;
}
.five {
  background-color: yellow;
  grid-column: 2;
  grid-row: 4 / 7;
}
.six {
  background-color: aqua;
  grid-column: 3;
  grid-row: 4 / 7;
}